.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.footer-newsletter_heading{
  text-align: left;
  margin-top: 0;
  margin-right: 3rem;
  margin-bottom: 2.4rem;
  font-family: var(--font-heading-family-light);
  font-size: 2.7rem;
  line-height: 103%; /* 27.81px */
  letter-spacing: -0.54px;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    align-items: flex-start;
    /* margin: 0 auto; */
    max-width: 50rem;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  padding-right: 5rem;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}

.newsletter-form__button {
  width: 4.4rem;
  margin: 0;
  right: var(--inputs-border-width);
  top: 0;
  height: 100%;
  z-index: 2;
}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.newsletter-form__button .icon {
  width: 1.5rem;
}

/* CUSTOM FORM STYLES */

.footer-newsletter-form__input{
  background-color: rgba(217, 217, 217, 0.1);
}

#Subscribe svg{
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(273deg) brightness(103%) contrast(103%);
}

#NewsletterForm--sections--23308163612986__footer label{
  color: #fff;
}

.footer .newsletter-form .field__label {
  color: #FFF;
  font-family: var(--font-menu-sub);
  font-size: 9px;
  font-style: normal;
  text-transform: uppercase;
  top: calc(1.5rem + var(--inputs-border-width));
}

.newsletter-form .field__label {
  /* Your custom styles here */
  color: #fff;
}