/*Column container */
.column-cta-container-b{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media screen and (min-width: 750px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* For columns 1-6 this decides how much space each column can take up */
.columns-1{
    width: 100%;
    height: 780px;
}

/* Styles for when there are TWO COLUMNS */
.columns-2{
    width: 100%;
    height: 500px;
    @media screen and (min-width: 750px) {
        width: calc(50% - 8px);
        height: 1000px;
    }
}

.columns-2.column-cta-column-b h3{
    @media screen and (min-width: 750px) {
       font-size: 7.2rem;
    }
}

/* Styles for when there are THREE COLUMNS */
.columns-3{
    width: 100%;
    height: 500px;
    @media screen and (min-width: 750px) {
        width: calc(33.33% - 10.66px);
        height: 600px;
    }
}

.columns-3.column-cta-column-b h3{
    @media screen and (min-width: 750px) {
       font-size: 4.5rem;
    }
}
 
/* These are the styles for the columns */
.column-cta-column-b {
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
  }
  
  .column-cta-image-b {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .column-cta-wrapper-b {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
.column-cta-column-b h3{
    font-size: 4.2rem;
    margin: 0;
}

.column-cta-column-b p{
    text-transform: uppercase;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid;
}