.related-products {
  display: block;
}

.related-products__heading {
  margin: 0 0 3rem;
}

.slider-indicator {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: rgba(var(--color-foreground), 0.2);
  padding-inline: 2rem;
}

.slider-indicator__line {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(var(--color-foreground), 0.8);
  transition: transform 0.3s ease;
}
